{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="Dashboard">
      <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">


      <!-- Favicons -->
      <link href="{% static 'home/img/vkids-logo.png' %}" rel="icon">
      <link href="{% static 'home/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

      <!-- Bootstrap core CSS -->
      <link href="{% static 'home/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
      <!--external css-->
      <link href="{% static 'home/lib/font-awesome/css/font-awesome.css'%}" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="{% static 'home/css/style.css'%}" rel="stylesheet">
      <link href="{% static 'home/css/style-responsive.css'%}" rel="stylesheet">
      <script src="{% static 'home/lib/chart-master/Chart.js'%}"></script>
        <!-- =======================================================
        Template Name: Dashio
        Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
        Author: TemplateMag.com
        License: https://templatemag.com/license/
        ======================================================= -->
      {% block head %}
      {% endblock head %}
  </head>
  <body>
          <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
            <div class="sidebar-toggle-box">
              <div class="fa fa-bars tooltips" data-placement="right" ></div>
            </div>
            <!--logo start-->
            <a href="{% url 'dashboard:vkids-admin_dashboard'%}" class="logo"><b>KMUTT</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
              <!--  notification start -->
              <ul class="nav top-menu">
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="main-admin.html#">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-theme">1</span>
                    </a>
                  <ul class="dropdown-menu extended inbox">
                    <div class="notify-arrow notify-arrow-green"></div>
                    <li>
                      <p class="green">มี 1 ข้อความใหม่</p>
                    </li>
                    <li>
                      <a href="main-admin.html#">
                        <span class="subject">
                        <span class="from">ผู้ปกครองของ พฤกษ์</span>
                        <span class="time">Just Now</span>
                        </span>
                        <span class="message">
                        วันนี้ผมพาลูกกลับเองนะครับ
                        </span>
                        </a>
                    </li>
                    </li>
                  </ul>
                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="main-admin.html#">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge bg-warning">2</span>
                    </a>
                  <ul class="dropdown-menu extended notification">
                    <div class="notify-arrow notify-arrow-yellow"></div>
                    <li>
                      <p class="yellow">แจ้งเตือนใหม่ 2 รายการ</p>
                    </li>
                    <li>
                      <a href="main-admin.html#">
                        <span class="label label-danger"><i class="fa fa-exclamation"></i></span>
                        รถตู้คันที่ 2 เกิดอุบิติเหตุ
                        <span class="small italic">4 mins.</span>
                        </a>
                    </li>
                    <li>
                      <a href="main-admin.html#">
                        <span class="label label-warning"><i class="fa fa-check"></i></span>
                        A02 ลงจากรถแล้ว
                        <span class="small italic">30 mins.</span>
                        </a>
                    </li>
                <!-- notification dropdown end -->
              </ul>
              <!--  notification end -->
            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                <li>
                  <form class="logout" action="/dashboard/logout" method= "POST" >
                    {% csrf_token %}
                    <button type = "submit">Logout</button>
                  </form>
                </li>
              </ul>
            </div>
          </header>
          <!--header end-->
          <!-- **********************************************************************************************************************************************************
              MAIN SIDEBAR MENU
              *********************************************************************************************************************************************************** -->
          <!--sidebar start-->
          <aside>
            <div id="sidebar" class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered"><!-- <a href="profile.html"> --><img src="{% static 'home/img/user.png'%}" class="img-circle" width="80"></a></p>
                <h5 class="centered">{{ name }}</h5>
                <li class="mt">
                  <a href="{% url 'dashboard:vkids-admin_dashboard'%}">
                    <i class="fa fa-desktop"></i>
                    <span>หน้าหลัก</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="{% url 'dashboard:vkids-admin_kids' %}">
                    <i class="fa fa-child"></i>
                    ข้อมูลเด็ก</a>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="{% url 'dashboard:vkids-admin_bus' %}">
                    <i class="fa fa-dashboard"></i>
                    ข้อมูลรถ</a>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="{% url 'dashboard:vkids-admin_statistics' %}">
                    <i class=" fa fa-bar-chart-o"></i>
                    <span>ข้อมูลทางสถิติ</span>
                    </a>
                </li>
                <li class="sub-menu">
                  <a href="main-admin.html#">
                  <i class=" fa fa-plus-circle"></i>
                  <span>เพิ่มเด็ก</span>
                  </a>
                </li>
                <li class="sub-menu">
                  <a href="main-admin.html#">
                  <i class=" fa fa-plus-circle"></i>
                  <span>เพิ่มรถ</span>
                  </a>
                </li>
                <li class="sub-menu">
                  <a href="main-admin.html#">
                  <i class=" fa fa-cogs"></i>
                  <span>แก้ไขข้อมูลส่วนตัว</span>
                  </a>
                </li>
              <!-- sidebar menu end-->
            </div>
          </aside>
          <!--sidebar end-->
      {% block content %}
      {% endblock content %}
  </body>
</html>

