{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Welcome to Vkids</title>

  <!-- Favicons -->
  <link href="{% static 'home/home/img/vkids-logo.png'%}" rel="icon">
  <link href="{% static 'home/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'home/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'home/lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'home/css/style.css'%}" rel="stylesheet">
  <link href="{% static 'home/css/style-responsive.css'%}" rel="stylesheet">
  <script src="{% static 'home/lib/chart-master/Chart.js'%}"></script>

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

</head>

<body>
    <header class="header white-bg">
        <div class="sidebar-toggle-box" style="margin-top: 15px;">
          <img src="{%static 'home/img/logo1.png'%}" width="110">
        </div>
        <!--logo start-->
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
          <!--  notification start -->
          <!--  notification end -->
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li><a class="logput" href="{% url 'authentication:vkids-select' %}">Sign up</a></li>
            <li><a class="logout" href="{% url 'authentication:vkids-login' %}">Log in</a></li>
          </ul>
        </div>
      </header>

  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <img src="{% static 'home/img/vkids-logo.png' %}" height="150">
        <h2>เราจะทำให้รถตู้โรงเรียนน่าใช้บริการมากขึ้น</h2>
        <h2>ความจริงก็คิดไม่ออกว่าจะเขียนว่าอะไร</h2>
        <h2>แต่อยากให้มันดูยาว ๆ จะได้ สวย ๆ (มั้ง)</h2>

      </div>
    </div>
    <!-- /.container -->
  </div>

  <div id="blackwrap">
    <div class="container">
      <div class="row">
        <h1>Vkids ทำอะไรได้บ้าง</h1>
        <hr >
        <div class="col-md-4">
          <div class="block">
            <span class="fa fa-list-ul fa-4x"></span>
            <p> </p>
            <h4 style="margin-top: 20px;">ท่านมั่นใจได้ว่าไม่มีใครอยู่บนรถเมื่อดับเครื่อง</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="block">
            <span class="fa fa-exclamation-triangle fa-4x"></span>

            <h4 style="margin-top: 20px;">ท่านสามารถแจ้งสิ่งผิดปกติได้ตลอกเวลา</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="block">
            <span class="fa fa-map-marker  fa-4x"></span>
            <p> </p>
            <h4 style="margin-top: 20px;">ท่านสามารถรู้ว่าลูกท่านขึ้น-ลงรถตำแหน่งใด</h4>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:15px">
        <div class="col-md-4">
          <div class="block">
            <span class="fa fa-dashboard fa-4x"></span>
            <p> </p>
            <h4 style="margin-top: 20px;">ท่านสามารถรู้ว่ารถวิ่งด้วยความเร็วเท่าใด</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="block">
            <span class="fa fa-location-arrow fa-4x"></span>
            <p> </p>
            <h4 style="margin-top: 20px;">ท่านสามารถรู้ว่ารถอยู่ตำแหน่งใด</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="block">
            <span class="fa fa-suitcase fa-4x"></span>
            <p> </p>
            <h4 style="margin-top: 20px;">ท่านสามารถรู้ว่าลูกท่านสะพายกระเป็าหนักเท่าใด</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>GoodLanding</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/goodlanding-bootstrap-landing-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with GoodLanding template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'home/lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'home/lib/bootstrap/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'home/lib/php-mail-form/validate.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'home/js/main.js' %}"></script>

</body>
</html>
