{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Vkids</title>

    <!-- Favicons -->
    <link href="{% static 'home/img/vkids-logo.png' %}" rel="icon">
    <link href="{% static 'home/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'home/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'home/lib/font-awesome/css/font-awesome.css'%}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/style.css'%}" rel="stylesheet">
    <link href="{% static 'home/css/style-responsive.css'%}" rel="stylesheet">
    <script src="{% static 'home/lib/chart-master/Chart.js'%}"></script>

    <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
  {% block head %}
  {% endblock head %}
</head>

<body>
    <section id="container">
        <!--header start-->
        <header class="header black-bg">
            <!--logo start-->
            <a href="main-parent.html" class="logo"><b>KMUTT</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="main-admin.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">1</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">มี 1 ข้อความใหม่</p>
                            </li>
                            <li>
                                <a href="main-admin.html#">
                                    <span class="subject">
                                        <span class="from">ผู้ปกครองของ พฤกษ์</span>
                                        <span class="time">Just Now</span>
                                    </span>
                                    <span class="message">
                                        วันนี้ผมพาลูกกลับเองนะครับ
                                    </span>
                                </a>
                            </li>
                    </li>
                </ul>
                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="main-parent.html#">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-warning">2</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-yellow"></div>
                        <li>
                            <p class="yellow">แจ้งเตือนใหม่ 2 รายการ</p>
                        </li>
                        <li>
                            <a href="main-admin.html#">
                                <span class="label label-danger"><i class="fa fa-exclamation"></i></span>
                                รถตู้คันที่ 2 เกิดอุบิติเหตุ
                                <span class="small italic">4 mins.</span>
                            </a>
                        </li>
                        <li>
                            <a href="main-admin.html#">
                                <span class="label label-warning"><i class="fa fa-check"></i></span>
                                A02 ลงจากรถแล้ว
                                <span class="small italic">30 mins.</span>
                            </a>
                        </li>
                        <!-- notification dropdown end -->
                    </ul>
                    <!--  notification end -->
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a href="{% static 'home/profile_parent.html'%}" style="margin-top: 15px;padding-top: 0px;padding-right: 0px;padding-left: 0px;padding-bottom: 0px;"><img
                                src="{% static 'home/img/ny.jpg'%}" class="img-circle" width="25"></a></li>
                    <li><a class="lauange" href="main-parent.html#" style="margin-top: 15px;">TH</a></li>
                    <li><a class="lauange" href="main-parent.html#" style="margin-top: 15px;">EN</a></li>
                    <li><a class="logout" href="login.html">Logout</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->
        {% block content %}
        {% endblock content %}
</body>

</html>